<h1>LATEST ADVENTURES</h1>

<div class="adventure">

  <div class= "single">
  <div class="large-square" id="canoe">
    <h2 class="text">Getting Back to Nature in a Canoe</h2>
    <a href="#" class= "btn">READ MORE</a>
  </div>
</div>

<div class="multi">
<div class="container">
  <div class="rectangle" id="beach">
    <h2 class="text">A Night with Friends at the Beach</h2>
    <a href="#" class= "btn">READ MORE</a>
  </div>

<div class="container2">
  <div class="square" id="mountain-hikers">
    <h2 class="text">Taking in the View at Big Mountain</h2>
    <a href="#" class="btn">READ MORE</a>
  </div>

  <div class="square" id="star-gazing">
    <h2 class="text">Star gazing at the Night Sky</h2>
    <a href="#" class= "btn">READ MORE</a>
  </div>
  </div>
</div>
</div>

</div>

<div class=bottom-btn>
  <a href="#" class="green-btn">MORE ADVENTURES</a>
</div>
