<h1>SHOP STUFF</h1>

<div class="container">
  <div class="square">
      <img src="images/product-type-icons/do.svg" alt="Do icon" />
      <h3>Get back to nature with all the tools and toys you need to enjoy the great outdoors.</h3>
      <button type="button">DO STUFF</button>
  </div>

  <div class="square">
      <img src="images/product-type-icons/eat.svg" alt="Cup icon" />
      <h3>Nothing beats food cooked over fire. We have all you need for good camping eats.</h3>
      <button type="button">EAT STUFF</button>
  </div>

  <div class="square">
      <img src="images/product-type-icons/sleep.svg" alt="Sleeping bag icon" />
      <h3>Get a good night's rest in the wild in a home away from home that travels well.</h3>
      <button type="button">SLEEP STUFF</button>
  </div>

  <div class="square">
      <img src="images/product-type-icons/wear.svg" alt="Sweater icon" />
      <h3>From flannel shirts to toques, look the part while roughing it in the great outdoors.</h3>
      <button type="button">WEAR STUFF</button>
  </div>

</div>
