h1 {
  text-align: center;
  padding: 7rem 0;
  font-family: 'Novovento Sans Web', sans-serif;
  font-size: 4rem;
  color: #404040;
}

.container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  text-align: center;
}

.square {
   flex: 1 0 50%;
   max-width: 23%;
   border: 1px solid #e1e1e1;
   border-top: 5px solid #e1e1e1;
   position: relative;
   justify-content: space-between;
   padding: 2rem;
}

.square img {
  max-width: 25%;
  max-height:25%;
}

h3 {
  font-size: 16px;
  color: #404040;
  line-height: 1.75;
  font-family: 'Merriweather', serif;
}

.square button {
  background-color: #248A83;
  border: none;
  color:white;
  text-align: center;
  padding: 1rem 2rem;
  font-family: 'Novovento Sans Web', sans-serif;
}
