.container {
   padding: 0 2%;
   margin: 0 auto;
   width: 100%;
}

.banner {
  background: url("images/logos/inhabitent-logo-full.svg") center no-repeat,
  linear-gradient( to bottom, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 100%),
  url("images/home-hero.jpg") top no-repeat;
  min-height: 100vh;
  z-index:1;
}
