<br /><br /><br /><br />
<div class="container">
  <div [hidden]="submitted">
    <h1>Submit a new article</h1>
    <form  #entryForm="ngForm" id="apiForm" (ngSubmit)="SubmitJournal()">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" required [(ngModel)]="entry.name" name="name" #name="ngModel" placeholder="John Doe">
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          Name is required
        </div>
      </div>

      <!-- <div class="form-group">
        <label for="category">Category</label>
        <input type="text" class="form-control" id="category" [(ngModel)]="model.category" name="category">
      </div> -->

      <div class="form-group">
          <label for="category">Category</label>
          <select class="form-control"  id="category"
                  required
                  [(ngModel)]="entry.categories" name="category">
            <option *ngFor="let cat of categories" [value]="cat">{{cat}}</option>
          </select>
        </div>

      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" required [(ngModel)]="entry.title" name="title" #title="ngModel" placeholder="A creative title">
        <div [hidden]="title.valid || title.pristine" class="alert alert-danger">
          Title is required
        </div>
      </div>

      <div class="form-group">
        <label for="name">Image Link</label>
        <input type="text" class="form-control" id="image" required [(ngModel)]="entry.image" name="image" #content="ngModel" placeholder="www.google.ca/cute-dog.jpg">
        <div [hidden]="content.valid || content.pristine" class="alert alert-danger">
          Image is required
        </div>
      </div>

      <div class="form-group">
        <label for="content">Content</label>
        <input type="text" class="form-control" id="content" required [(ngModel)]="entry.content" name="content" #content="ngModel">
        <div [hidden]="content.valid || content.pristine" class="alert alert-danger">
          Content is required
        </div>
      </div>

      <button (click)="SubmitJournal()" type="submit" class="btn btn-success" [disabled]="!Form.form.valid">Submit</button>
      <button (click)="Back()">Cancel</button>
    </form>
  </div>
</div>

<br /><br /><br /><br />
